<%- include('nav') %>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" integrity="sha384-csJFOw8qrW/A6ePOtUHjDEiJ+3yvkp6bV5ZO00l6NA5Ij78mH1+OYtBhoGG9cPkI" crossorigin="anonymous">
    <style>
        * {
            padding: 0;
            margin: 0;
            box-sizing: border-box;
        }

        body {
            font-family: 'Roboto', sans-serif;
        }

        .title-shop {
            margin: 1rem;
            text-align: center;
        }

        .search-filter-section {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 1rem;
        }

        #searchBarContainer {
            display: flex;
            align-items: center;
        }

        #searchInput {
            padding: 0.5rem;
            border: 1px solid #ddd;
            border-radius: 4px;
        }

        #searchIcon {
            padding: 0.5rem;
            background-color: #ddd;
            border: 1px solid #ddd;
            border-radius: 4px;
            margin-left: 0.5rem;
            cursor: pointer;
        }

        #filterDropdown {
            margin-right: 1rem;
            /* Updated to margin-right */
            padding: 0.5rem;
        }

        .listing-section {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-around;
            margin-top: 1rem;
        }

        .product {
            width: calc(33.33% - 2rem);
            margin: 1rem;
            border-radius: 2%;
            overflow: hidden;
            box-shadow: 1.5px 1.5px 2.5px 3px rgba(0, 0, 0, 0.1);
            transition: box-shadow 0.3s ease-in-out;
        }

        .product:hover {
            box-shadow: 2px 2px 4px 4px rgba(0, 0, 0, 0.2);
        }

        .image-box {
            height: 200px;
            overflow: hidden;
            border-radius: 2% 2% 0 0;
        }

        .images {
            width: 100%;
            height: 100%;
            object-fit: contain;
            transition: transform 0.3s ease-in-out;
        }

        .product:hover .images {
            transform: scale(1.2);
        }

        .text-box {
            display: flex;
            flex-direction: column;
            align-items: center;
            border: 0.01em solid #dddbdb;
            border-radius: 0 0 2% 2%;
            padding: 1em;
        }

        h2,
        h3 {
            font-size: 1.2em;
            text-transform: uppercase;
            margin: 0.2em auto;
        }

        .price {
            color: grey;
        }

        .description,
        label,
        button,
        input {
            margin: 0.2em auto;
            text-align: center;
        }

        label {
            width: 100%;
        }

        .text-box input {
            width: 50%;
        }

        .action-buttons {
            display: flex;
            justify-content: space-between;
            margin-top: auto;
            width: 100%;
        }

        .add-to-cart,
        .buy-now {
            flex: 1;
            margin: 0.5em;
            padding: 2%;
            cursor: pointer;
            border: none;
            border-radius: 2%;
            text-align: center;
        }

        .add-to-cart {
            background-color: red;
            color: white;
        }

        .buy-now {
            background-color: green;
            color: white;
        }

        .add-to-cart:hover,
        .buy-now:hover {
            opacity: 0.8;
        }
        .filter-search-section {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 1rem;
    }

    #filterDropdown {
        margin-right: 1rem;
    }
    #searchBarContainer {
    display: flex;
    align-items: center;
    margin: 1rem; /* Add margin for spacing */
}

#searchInput {
    flex: 0.8; /* Adjust the flex value to control the width */
    padding: 0.5rem;
    margin-right: 0.5rem; /* Add margin between input and button */
    border: 1px solid #ddd;
    border-radius: 4px;
}

#searchIcon {
    padding: 0.5rem;
    background-color: #ddd;
    border: 1px solid #ddd;
    border-radius: 4px;
    cursor: pointer;
}
 
    </style>
    </head>

    <body>
          <!-- Banner Image -->
    <img src="\image\hero_endframe__ov6ewwmbhiqq_large.jpg" alt="Banner Image" style="width: 100%;">



   
        <h1 class="title-shop">SHOP</h1>
        <div id="searchBarContainer">
            <input type="text" id="searchInput" placeholder="Search by Product Name or Category">
            <button id="searchIcon" onclick="performSearch()">&#128269;</button>
        </div>
    
         <!-- Filter Form -->

         <form id="filterForm" method="get">
            
            <div style="display: flex; align-items: center;">
           
                <input type="number" id="minPrice" name="minPrice" placeholder="Min Price">
                <input type="number" id="maxPrice" name="maxPrice" placeholder="Max Price">
                <select id="sortOrder" name="sortOrder">
                    <option value="asc">Ascending</option>
                    <option value="desc">Descending</option>
                </select>
                <input type="submit" value="Apply Filters">
            </div>
        </form>

    <div class="listing-section">
        <% products.forEach((product, index) => { %>
            <div class="product" data-category="<%= product.category ? product.category.BrandName.toLowerCase() : '' %>">
                <a href="/product/<%= product._id %>">
                <div class="image-box">
                    <img class="images" src="<%= product.image[0] %>" alt="">
                </div>
            </a>
                <div class="text-box">
                   
                    <h2 class="item"><%= product.ProductName %></h2>
                    <h3 class="price">₹<%= product.Price %></h3>

                    <label for="item-<%= index + 1 %>-quantity"><%= product.Rating %>★ Rating</label>

                   
                    <div class="action-buttons">
                        <a href="/addToCart/<%= product._id %>" class="add-to-cart">Add to Cart</a>
                       
                        
                        
                        <a href="/Wishlist/<%= product._id %>" class="add-to-cart" >Wish List 
                          
                        </a>
                  

                        
                       
                    </div>  
                </div>
            </div>
        <% }) %>
        <div class="pagination justify-content-center mt-4">
            <% if (currentPage > 1) { %>
              <a href="?page=<%= currentPage - 1 %>" class="prev-arrow" aria-label="Previous">
                <i class="fa fa-long-arrow-left" aria-hidden="true"></i>
              </a>
            <% } %>
            <% for (let i = 1; i <= totalPages; i++) { %>
              <a href="?page=<%= i %>" class="<%= i === currentPage ? 'active page-link' : 'page-link' %>">
                <%= i %>
              </a>
            <% } %>
            <% if (currentPage < totalPages) { %>
              <a href="?page=<%= currentPage + 1 %>" class="next-arrow" aria-label="Next">
                <i class="fa fa-long-arrow-right" aria-hidden="true"></i>
              </a>
            <% } %>
          </div>
    </div>
   
    <script>
        function performSearch() {
            var searchQuery = document.getElementById('searchInput').value.toLowerCase();
            var products = document.querySelectorAll('.product');
            products.forEach(function (product) {
                var productName = product.querySelector('.item').innerText.toLowerCase();
                var category = product.dataset.category.toLowerCase();

                if (productName.includes(searchQuery) || category.includes(searchQuery)) {
                    product.style.display = 'block';
                } else {
                    product.style.display = 'none';
                }
            });
        }
    </script>
   
    </script>
    </body>

    </html>